name: SBOM

permissions:
  contents: read

on:
  pull_request:

jobs:
  license:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v6
      - name: 'SBOM Change Review'
        uses: actions/dependency-review-action@v4
        with:
          # See https://spdx.org/licenses/.
          # Use comma-separated names to pass list arguments:
          deny-licenses: AGPL-1.0-only, AGPL-1.0-or-later, AGPL-3.0-only, AGPL-3.0-or-later
